@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);

.text-deets {
  font-size: 3em;
}

footer {
  background-color: #EEE;
}

h1 {
  font-family: 'Roboto Slab';
  padding: 5px;
}

p, h1 {
  background-color: rgba(255,255,255,.5);
}

body {
  background-size:cover;
  font-family: "Roboto";
}

.icon-border {
  background-color: inherit;
  border-radius: 50%;
}

#degree-switch {
  margin: 10px auto;
}