@import url(https://fonts.googleapis.com/css?family=Roboto);

.text-deets {
  font-size: 3em;
}

footer {
  background-color: #EEE;
}

p, h1 {
  background-color: rgba(255,255,255,.5);
}

body {
  background-size:cover;
  font-family: "Roboto";
}

.icon-border {
  background-color: inherit;
  /*border-style:solid;
  border-width: 10px;*/
  /*border-color: gray;*/
  border-radius: 50%;
}

#degree-switch {
  margin: 10px auto;
}